services:
  db:
    image: postgres:17.4-alpine
    volumes:
      - postgres_17_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password

  web:
    build: .
    command: 'run_app'
    stdin_open: true
    tty: true
    depends_on:
      - db
      - redis
    ports:
      - target: 3000
        published: 2424
        protocol: tcp
        mode: host
    environment: &web_environment
      - DEVISE_SECRET_KEY=${DEVISE_SECRET_KEY}
      - DB_HOST=${DB_HOST}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - PLAID_SECRET_ID=${PLAID_SECRET_ID}
      - PLAID_CLIENT_ID=${PLAID_CLIENT_ID}
      - REDIS_URL=${REDIS_URL}
    volumes:
      - .:/code:cached

  redis:
    command: redis-server --appendonly yes
    image: redis:7.2
    volumes:
      - redis_data:/data

  sidekiq:
    build: .
    command: sidekiq
    depends_on:
      - db
      - redis
    environment: *web_environment
    volumes:
      - .:/code:cached

volumes:
  postgres_17_data:
  redis_data:
