= stylesheet_link_tag "application", media: "all"

%body
  %div.ui.divided.padded.grid
    = render "shared/dimmer"
    %div.four.wide.column
    %div.nine.wide.column
      %h2.ui.center.aligned.header
        Analytics
      %div
        %canvas#analytics

= javascript_include_tag "plaid"
= javascript_include_tag "analytics"
