<div id='account_refresh_failure_banner' class="ui hidden negative message">
  <i class="close icon"></i>
  <div class="header">
    Error With the following accounts:
  </div>
  <ul class="list">
  </ul>
</div>
