%div.ui.tabular.menu
  %a#home-tab.active.item{ href: "/" }
    Home
  = link_to "Transactions", transactions_path, data: {turbo_frame: "transactions", turbo_action: "advance"}, class: "item", id: "transactions-tab"
  = link_to "Analytics", analytics_path, data: {turbo_prefetch: false}, class: "item", id: "analytics-tab"
  %a#rules-tab.item{ href: "/rules" }
    Rules
  %div.right.item
    %div#account-options.ui.dropdown.link
      %span.text
        Account Options
      %i.dropdown.icon
      %div.menu
        %div#link-button.item
          Link New Account
        %div#refresh-button.item
          Refresh Accounts
        %div#backup-database-button.item
          Backup Database

= javascript_include_tag "base"
