<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<div class="ui tabular menu">
  <a class="active item" id="home-tab" href="/">
    Home
  </a>
  <a class="item" id="transactions-tab" href="/transactions">
    Transactions
  </a>
  <a class="item" id="analytics-tab" href="/analytics">
    Analytics
  </a>
  <a class="item" id="budgets-tab" href="/budgets">
    Budgets
  </a>
  <div id="account-options" class="ui dropdown link right item">
    <span class="text">Account Options</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" id="link-button">Link New Account</div>
      <div class="item" id="refresh-button">Refresh Accounts</div>
    </div>
  </div>
</div>

<%= javascript_include_tag "application" %>
