<div class="ui tabular menu">
  <a class="active item" id="home-tab" href="/">
    Home
  </a>
  <%= link_to "Transactions", transactions_path, class: "item", id: "transactions-tab" %>
  <a class="item" id="analytics-tab" href="/analytics">
    Analytics
  </a>
  <a class="item" id="budgets-tab" href="/budgets">
    Budgets
  </a>
  <div class="right item">
    <%= turbo_frame_tag "search", target: "transactions" do %>
    <div class="ui dropdown">
        <span class="text">Manage Transactions</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Filter Transactions</div>
          <div class="ui left icon input">
            <i class="search icon"></i>
            <input type="text" name="search" placeholder="Search">
          </div>
          <div class="divider"></div>
          <div class="item">Filter by Category</div>
          <div class="item">Filter by Date</div>
          <div class="item">Filter by Account</div>
          <div class="divider"></div>
          <div class="item"><i class="tag icon"></i>Create Label</div>
        </div>
    </div>
    <% end %>
    <div id="account-options" class="ui dropdown link">
      <span class="text">Account Options</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" id="link-button">Link New Account</div>
        <div class="item" id="refresh-button">Refresh Accounts</div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "base" %>
