<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<div class="ui tabular menu">
  <a class="active item" href="/">
    Home
  </a>
  <a class="item" href="/transactions">
    Transactions
  </a>
  <a class="item" href="/Analytics">
    Analytics
  </a>
  <a class="item" href="/Budgets">
    Budgets
  </a>
  <div class="right item">
    <button class="ui button" id="link-button">Link Account</button>
  </div>
</div>
