/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.green-text {
  color: #1EAE1E;
}

.red-text {
  color: #DB2828;
}

.pending-transaction-background {
  background-color: #f4efef;
}

.ui.form ::placeholder {
  color: rgb(0, 0, 0);
}

.ui.padded.table td {
  padding: 0.85em 0.85em;
}

.ui.large.text.loader {
  top: 15% !important;
}

.ui.accordion.button {
  background: #ffffff;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d5;
  cursor: pointer;
}

.ui.dropdown.selection .text {
  font-weight: 400 !important;
}

.ui.accordion.button.title:hover {
  background-color: #0a71a8;
}

.ui.tabular.menu .right.item {
  padding-bottom: 8px;
  padding-top: 8px;
}

#search-transactions {
  padding-right: 0.75em;
  border-radius: 500em !important;
}

.ui.label {
  border-radius: .50rem;
}

.ui.list.padded .item:last-child {
  margin-bottom: 10px;
}

.angle-icon {
  width: 20px;
  height: 20px;
  shape-rendering: crispEdges;
}

.dash-icon {
  width: 15px;
  height: 20px;
  shape-rendering: crispEdges;
}

.title.split-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-aligned {
  display: flex;
  align-items: center;
}

h4.ui.center.aligned {
  margin-top: 1rem;
  margin-bottom: 0.85rem;
}

.small-padded {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.ui.progress {
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.ui.progress.active {
  animation: none !important;
}

.ui.progress:last-child {
  margin-top: 0.5rem;
}

.ui.progress.multiple > .bar:not(:first-child) select {
  border-radius: 0.285714rem; 
}

.ui.progress .bar {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  min-width: 0.01em;
}

.ui.progress.middle.small.aligned {
  margin: 0 0 0rem;
  top: 4px;
}

.ui.progress.full .bar {
  border-radius: 1rem;
}

.two.column.row.consistent .cozy.column:first-of-type {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.cozy.column {
  vertical-align: bottom;
  text-align: end;
}

#graph_data_table th {
  width: 100%;
  table-layout: fixed;
}

.ui.card:nth-child(2) {
  margin-top: 0 !important;
}
