.ui.modal {
  top: auto;
  left: auto;
  position: fixed;
  margin: auto;
  width: 700px;
}

.ui.modal > .header {
  padding: 1.25rem 1.5rem;
  font-size: 1.28571429rem;
  line-height: 1.28571429em;
  font-weight: bold;
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.modal > .content {
  padding: 1.5rem;
}

.ui.modal > .actions {
  background: #f9fafb;
  padding: 1rem 1rem;
  border-top: 1px solid rgba(34,36,38,.15);
  text-align: right;
}

.ui.modal > .close.icon {
  cursor: pointer;
  position: absolute;
  top: 1.05rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.ui.modal .ui.list .item {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(34,36,38,.1);
}

.ui.modal .ui.list .item:last-child {
  border-bottom: none;
}
