name: Run Test Suite

on:
  pull_request:
    branches:
      - master

  push:
    paths:
      '**/*.rb'

jobs:
  test:
    if: github.event_name == 'pull_request' || (github.event_name == 'push' && startsWith(github.ref, 'refs/pull/'))
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:latest
        ports:
          - 3000:2424

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Build and Run Docker Image
        run: docker compose build

      - name: Setup Database
        run: RAILS_ENV=test docker compose --env-file .env.test run web bundle exec rake db:create db:schema:load

      - name: Run RSpec Tests
        run: RAILS_ENV=test docker compose --env-file .env.test run web bundle exec rspec
